/* Allgemeine Stile */
:root {
    --primary-color: #4b573e;
    --secondary-color: #2b5c85;
    --background-color: #ccbbc9a1;
    --text-color: #333;
    --card-background: #fff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

#teaser {
    width: 100%;
    height: 300px;

}

#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #teaser {
        height: 400px;
    }
    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    box-shadow: var(--shadow);
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 40px 0;
}

.card {
    background-color: var(--card-background);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.language-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.language-card {
    background-color: var(--background-color);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: var(--shadow);
}


.hidden {
    display: none;
}


#quizResult {
    font-weight: bold;
    margin-top: 20px;
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 11px 0;
    margin-top: 400px;
    box-shadow: var(--shadow);
}

.search-container {
    margin: 20px;
    text-align: center;
}
.search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-button {
    padding: 10px 15px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3;
    }


/* Quiz */

.quiz-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    background-color: rgb(253, 253, 253);
    border-radius: 1rem;
    box-shadow: 0 0 0.6rem 0.1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
    
  }
  
  #question-container {
    flex-direction: column;
    max-width: 60%;
    gap: 2rem;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  #question {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  
  #answer-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  input {
    width: fit-content;
  }
  
  .btn {
    padding: 15px 8px;
    margin: 3px;
    background-color: #4b573e;
    color: white;
    border: none;
    border-radius: 0.5rem 0.5rem;
    
  }
  
  input,
  .btn {
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #284d28;
  }
  
  .hide {
    display: none;
  }
  
  #result {
    margin: 2rem auto;
  }
  
  #question,
  #result {
    font-size: 1.5rem;
    font-weight: bold;
  }

  /* Quiz Verlinkung */

  h1 {
    color: #ffffff;
    text-align: center;
}
.quiz-link {
    display: flex;
    margin:8px;
    padding: 8px 16px;
    background-color: #4b573e; 
    color: white;
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
    width:0 auto;
    
    
}
.quiz-link:hover {
    background-color: #1e361f; 
}